/* Ivan Example Two

html, body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section{
    background-image: url(Hero-Pic.jfif);
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    padding-top: 300px;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
}

h4{
    font-size: 2rem;
}

button{
    padding: 10px 20px;
    font-size: 1.25rem; */




/* Ivan Example One */

html, body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section{
    background-image: url(Hero-Pic.jfif);
    background-size: cover;
    height: 100vh;
    color: white; 
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1{
    font-size: 4rem;
}

h4{
    font-size: 2rem;
}

button{
    padding: 10px 20px;
    font-size: 1.25rem;
}




/* William's Project */


/* body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.center {
    display:flex;
}

section {
    background-image: url(Hero-Pic.jfif);
    height: 343px;
    width: 1109px;
    background-size: cover;
    background-position: 50% 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: white;
}

h1 {
    margin: 100px;
    color: white;
}

h4 {    
    color: white;
} */